.movieDetail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}

.movieDetail__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    width: 50%;
}

.movieDetail__title{
    font-size: 40px;
    margin-bottom: 20px;
    background-color: transparent;
}

.movieDetail__description__detail{
    flex-direction: column;
    margin-bottom: 20px;
    background-color: transparent;
}

.movieDetail p, .buttons , i{
    background-color: transparent;
    margin: 10px;
}

.addButton {
    background: #2b303b;
    border: none;
    border-radius: 9999px;
    color: #ffffff;
    box-shadow: 0px 5px 5px rgb(27, 208, 199, 0.4);
    padding: 14px 28px;
    font-size: 14px;
}

.addButton:hover {
    background-color: rgb(27, 208, 199);
    box-shadow: 0px 5px 5px rgb(27, 208, 199, 0.4);
    color: #fff;
  }

.movieDetail img{
    height: 80%;
}

@media (max-width: 768px){
    .movieDetail img {
        height: 60%;
    }
}

@media (max-width: 425px){
    .movieDetail__description {
        width: 100%;
        margin: 0 25px;
    }
    .movieDetail__description__detail{
        margin-bottom: 0;
    }
}
