.navbar {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(27, 208, 199);
}

a {
    font-size: 18px;
}

/* @media (min-width: 426px) {
    a {
        color: green;
    }
} */