form {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
}

input {
    width: 86%;
    height: 50px;
    background: #363738;
    border: none;
    border-radius: 9999px;
    font-size: 14px;
    color: #262626;
    padding-left: 32px;
    box-shadow: 1px -1px 18px 7px rgba(0,0,0,0.28) inset;
-webkit-box-shadow: 1px -1px 18px 7px rgba(0,0,0,0.28) inset;
-moz-box-shadow: 1px -1px 18px 7px rgba(0,0,0,0.28) inset;
    
}

input:focus , input:focus-visible{
    color: rgb(27, 208, 199);
    border: 1px solid rgba(27, 208, 199, 0.528);
    outline: none;
}

.bx.bx-search-alt {
    color: #fff;
    position: absolute;
    background: transparent;
    right: 8%;
    top: 8%;
}